* {
  margin: 0;
  padding: 0;
}

html {
  @media screen and (max-width: 1920px) {
    font-size: 16px;
  }

  @media screen and (max-width: 1680px) {
    font-size: 14px;
  }

  @media screen and (max-width: 1440px) {
    font-size: 13px;
  }

  @media screen and (max-width: 1200px) {
    font-size: 12px;
  }

  @media screen and (max-width: 1080px) {
    font-size: 10px;
  }
}
